<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  {% if site.feedburner %}
    <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
  {% endif %}
  <script async defer data-domain="brizental.github.io" src="https://plausible.io/js/plausible.js"></script>
</head>
