---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="post-headers">
    <button class="post-list-heading active" data-target="posts">Posts</button>
    <!--<button class="post-list-heading" data-target="notes">Notes</button>-->
  </div>

  <div id="posts" class="post-block active">
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}#anchor">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
  </div>

  <div id="notes" class="post-block">
    {%- if site.notes.size > 0 -%}
    <ul class="post-list">
      {% assign notes = site.notes | sort: 'date' | reverse %}
      {%- for note in notes -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ note.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ note.url | relative_url }}#anchor">
            {{ note.title | escape }}
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
  </div>

</div>
